body {
    color: white;
    background-color: #37404f;
}

.border {
    border: 1px solid black;
    padding: 12px;
    margin: 3px;
}

#red {
    background-color: red;
}

#blue {
    background-color: blue;
}

#green {
    background-color: green;
}

#orange {
    background-color: orange;
}