body {
    margin: 0 auto;
}

/* FONTS */

h2 {
    font-weight: 600;
    font-size: 40px;
}


/*NAV*/

nav{
    display: flex;
    background-color: whitesmoke;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo  {
    height: 50px;
    borde: 1px solid white;
}

nav ul li {
    list-style-type: none;
    padding: 0px 15px;
    color: black;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

nav ul li a:hover {
    color: darkolivegreen;
}

/* HEADER */
header {
    background: url("../assets/header-bkgrnd.jpg");
    background-size: cover;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Coustard', serif;
    font-weight: 900;
    color: whitesmoke;
}

cta-btn {
    width: 40%;
}

/* SECTION ONE*/

#quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    border-top: 1px solid rgba(0,0,0,0.7);
}

#quote-container p {
    font-family: Montserrat;
    font-size: 40px;
    margin: 50px 0;
}

/* SECTION TWO */
#why-container {
    display: flex;
    justify-content: space-around;
    padding: 40px 60px;

}

#why-txt-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    text-align: justify;
    margin: 0 40px;
}

#sml-landscape {
    width: 100%;
    background: url("../assets/grn-plnnr.jpg");
    background-size: cover;
}


#why-txt-container>p {
    font-family: Montserrat;
    font-size: 22px;
}

/*SECTION THREE - PRODUCTS*/
#products-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 100px 0;
    justify-content: center;
}

.product-item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 22%;
    margin: 14px;
    align-content: center;
    text-align: left;
    background-color: black;
    border-radius: 20px;
    padding: 45px;
    color: whitesmoke;
}

.product-item-container * {
    margin: 5px;
}

strong  {
    text-align: left;
}

h3 {
    font-family: 'Coustard', serif;
    font-weight: 400;
    font-size: 32px;
    text-align: left;
}

.prod-img {
    height: 450px;
    width: 100%;
    border-radius: 20px;
}

.prod-desc {
    font-family: Montserrat;
    font-weight: 400;
    text-align: justify;
}

/*FOOTER*/
footer{
    background-color: lightgray;
    color: whitesmoke;
    margin-top: 75px;
    padding: 50px;
    display: flex;
    justify-content: end;
    align-content: center;
}

footer h3 {
    font-family: Coustard;
    font-size: 34px;

}

footer ul li {
    list-style-type: none;
    font-family: Montserrat;
}

footer ul li a {
    text-decoration: none;
    color: whitesmoke;
    font-family: Montserrat;
}

footer ul li a:visited {
    text-decoration: double;
    color: whitesmoke;
    font-family: Montserrat;
}

footer ul li a:hover {
    text-decoration: double;
    color: black;
    font-family: Montserrat;
}




